body {
  margin: 40px;
  max-width: 700px;
}

.input {
  max-width: 400px;
}

h5 {
  margin-top: 15px;
  margin-bottom: 5px !important;
}

ul .search {
  margin-top: 5px;
}

li .search {
  margin-top: 5px;
}
