body {
  margin: 2rem;
  max-width: 50rem;
}

.search-box {
  max-width: 75%;
}

li.search-result {
  margin-top: 0.5rem;
}

.dependency-header {
  margin-top: 1.2rem;
  margin-bottom: 0.5rem !important;
}
